.page {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

/*-------------------------модификаторы-------------------------*/

.logo {
  width: 228px;
  height: 32px;
}

/*-------------------------header-------------------------*/

.header {
  background-color: #f2f2f2;
  margin: 0 auto;
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  display: flex;
  position: relative;
}

.logo_place_header {
  position: absolute;
  margin: 30px 0 0 64px;
  top: 0;
  left: 0;
}

.header__title {
  display: flex;
  align-items: center;
  width: 730px;
  margin-left: 63px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  min-height: 64px;
  position: absolute;
  bottom: 0;
  margin: 0 0 30px 64px;
  z-index: 3;
  display: inline;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  object-fit: cover;
  object-position: right bottom;
}

.header__square-pic {
  height: 548px;
  width: 568px;
  margin-top: 64px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;
}

/*-------------------------main-------------------------*/

/*-------------------------description-------------------------*/

.main {
  margin: 0 auto;
}

.two-columns {
  padding-top: 100px;
  margin: 0 auto;
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;/*У меня на копьютере и на github никаких отступов нет*/
}

.two-columns__brief {
  display: flex;
  flex-direction: column;
  width: 175px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph{
  margin: 30px 0;
}

.two-columns__paragraph:first-child {
  margin: 0;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/*-------------------------digits-------------------------*/

.digits {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 100px 0;
}

.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 20px 0 0 0;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

.table__text {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
}

.table__text:nth-child(even) {
  margin: 20px 0;
}

/*-------------------------feynman-------------------------*/

.feynman {
  margin: 0 auto;
  padding-top: 100px;
  min-height: 890px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.feynman__title {
  margin: 0 auto 70px;
  width: 648px;
  text-align: center;
  z-index: 1;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15; 
}

.feynman__subtitle {
  display: flex;
  margin: 0 auto;
  align-items: center;
  z-index: 1;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px; 
}

.feynman__link {
  position: absolute;
  bottom: 50%;
  right: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin-right: 48px;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__main-illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom:0;
  left: 0;
}

/*-------------------------kaufman-------------------------*/

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
  color: white;
}

.main__kaufman_theme_dark {
  z-index: 3;
}

.main__section-title_theme_dark {
  z-index: 3;
}

.table__cell_theme_dark {
  z-index: 3;
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  display: flex;
  position: absolute;
  background-image: url('../images/kaufman-triangle.svg');
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  background-size: 877px 877px;
}

/*-------------------------footer-------------------------*/

.footer {
  display: flex;
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  color: #fff;
  padding: 60px 0px 40px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column{
  display: flex;
  flex-direction: column;
  
}

.logo_place_footer {
  margin-bottom: auto;
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px; 
}

.footer__column_content_info{
  flex-basis: 711px;
  align-content: flex-end;
  flex-wrap: wrap;

}

.footer__column-heading {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 20px;
}

.footer__column-links {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.footer__column-link{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  text-decoration: none;
  color: #f2f2f2;
  list-style-type: none;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__column-links:last-child {
  padding-bottom: 16px;
}