.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  margin-left: 48px; /*В брифе написано 48px, но изображено не больше 20px*/
  text-decoration: none;
  color: #2f80ed;
}
